@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This is a website made to view Dota 2 teams and their players. You can add a team and create players for it.</p>
<p>(This is a useless page! :)</p>